body {
  font-family: Montserrat, serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  height: 100%;
}
.main-title {
  background-color: #777777;
  border-radius: 15px;
  font-size: 96px;
  color: #F0F0F0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  margin-bottom: 60px;
}
.reviews-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.review-card {
  border-radius: 15px;
  background-color: #D9D9D9;
  width: 25%;
  padding: 10px;
  font-size: 24px;
  color: #000;
}
.review-card h2 {
  font-size: 24px;
  font-weight: 400;
}
.review-card p,
.review-card h1 {
  font-size: 24px;
  font-weight: 400;
}