body {
  font-family: Inter, serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  height: 100%;
}
.main-title {
  background-color: #777777;
  border-radius: 15px;
  font-size: 96px;
  color: #F0F0F0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  margin-bottom: 60px;
}
.reviews-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.review-card {
  border-radius: 15px;
  background-color: #D9D9D9;
  width: 25%;
  padding: 10px;
  font-size: 24px;
  color: #000;
}
.review-card h2 {
  font-size: 24px;
  font-weight: 400;
}
.review-card p,
.review-card h1 {
  font-size: 24px;
  font-weight: 400;
}
.products-card-container {
  padding: 0 190px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.product-card {
  width: 290px;
  border-radius: 15px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  padding: 5px;
  word-wrap: break-word;
}
.product-card img {
  align-self: center;
  width: 280px;
  height: 366px;
  border-radius: 15px;
}
.product-card-body h3 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  margin: 10px 0;
}
.product-card-body p {
  font-size: 24px;
}
.product-card-footer {
  margin-top: auto;
  text-align: center;
}
.product-price {
  color: #000;
  font-size: 36px;
}
.product-btn {
  cursor: pointer;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #222222;
  border-radius: 15px;
  font-size: 36px;
  color: #F0F0F0;
}
.product-add-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}
.product-add-wrap input {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 128px;
  background-color: #222222;
  border-radius: 15px;
  font-size: 36px;
  color: #F0F0F0;
  border: none;
  padding-left: 4px;
  height: 100%;
} 
.product-add-wrap input:focus {
  outline: none;
}
.product-add-decrease,
.product-add-increase {
  cursor: pointer;
  width: 68px;
  height: 68px;
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: 36px;
  color: #F0F0F0;
  border: none;
}
.products-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.cart {
  background-color: #D9D9D9;
  width: 708px;
  border-radius: 15px;
  padding: 10px;
}
.cart h3 {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
.cart-no-items {
  font-size: 26px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
}
.cart-order {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.cart-order-phone-wrap {
  width: 401px;
  height: 68px;
}
.cart-order-phone {
  width: 95%;
  height: 96%;
  background-color: #222;
  border-radius: 15px;
  font-size: 34px;
  color: #F0F0F0;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}
.cart-order-phone:focus {
  outline: none;
}
.cart-order-btn {
  width: 268px;
  height: 68px;
  background-color: #222;
  border-radius: 15px;
  font-size: 36px;
  color: #F0F0F0;
  text-align: center;
  border: none;
  cursor: pointer;
}
.cart-total {
  margin-top: 40px;
  font-weight: bolder;
  font-size: 30px;
  color: #222;
}
.cart ul {
  padding: 0;
}
.cart li {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.cart span {
  display: block;
}
.cart-item-price {
  margin-left: auto;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}